In [1]:
from GenerateAxisRoster import GenerateAxisRoster

# Madden Attributes to Axis Attributes Links
https://steamcommunity.com/app/932980/discussions/0/1739968490571334749/

https://madden.fandom.com/wiki/Attributes

# Axis Roster Information 

Rosters must first contain $30$ starters in following order:
* QB 1
* RBs 1-2
* WRs 1-5
* TE 1
* LT 1
* LG 1 
* C 1
* RG 1
* RT 1
* LE 1, DTs 1-2, RE 1 (Total of 4 DLs; distribution may vary depending on team)
* LOLB 1, MLBs 1-2, ROLB 1 (Total of 4 LBs; distribution may vary may vary depending on team)
* LCB 1, LCB 2, SS 1, FS 1, RCB 1, RCB 2 (Total of 6 DBs; distribution may vary depending on team)
* K 1 
* P 1

Rosters must also have $23$ unused players as backups.

In [2]:
team='New Orleans Saints'

In [3]:
GenerateAxisRoster(team).axis_roster_df.head() # Old Axis Roster to Be Updated

,INDEX,FIRST,LAST,SKIN,NUMBER,HEIGHT,WEIGHT,POS,SPEED,TLK BRK,...,HIT PWR,ENDUR,VISOR,SLEEVES,BANDS,WRAPS,AGE,POTENTIAL,PORTRAIT,DISCIPLINE
0,0,Drew,Brees,1,9,71,209,QB,67,34,...,12,77,0,0,0,1,41,96,332,82
1,1,Alvin,Kamara,1,41,70,215,RB,89,90,...,33,91,1,0,1,0,25,99,329,99
2,2,Latavius,Murray,5,28,75,230,RB,89,84,...,45,86,0,0,0,1,29,94,240,99
3,3,Michael,Thomas,5,13,75,212,WR,89,82,...,15,99,1,0,0,0,27,74,93,56
4,4,Emmanuel,Sanders,1,17,71,180,WR,88,84,...,12,87,1,1,1,1,33,80,314,58

In [4]:
GenerateAxisRoster(team).madden_roster_df.head() # Madden Roster Used for Updating

,Full Name,Overall Rating,Position,Age,Speed,Acceleration,Awareness,Agility,Strength,Throw Power,...,Jersey Number,Total Salary,Signing Bonus,Archetype,Running Style,Years Pro,Height,Weight,Birthdate,College
0,Erik McCoy,78,C,23,73,80,88,62,87,22,...,78,3370000,2710000,C_Agile,Default Stride Awkward,1,76,315,1997-08-27,Texas AM
1,Will Clapp,59,C,23,59,76,70,55,80,14,...,64,2460000,80000,C_Agile,Long Stride Awkward,2,77,309,1996-09-19,LSU
2,Cameron Tom,57,C,25,76,82,56,59,85,24,...,63,790000,100000,C_Power,Default Stride Awkward,3,76,300,1995-07-21,Southern Miss
3,Marshon Lattimore,86,CB,24,93,94,80,91,72,22,...,23,6550000,19060000,CB_MantoMan,Default,3,72,192,1996-05-20,Ohio State
4,Janoris Jenkins,78,CB,31,89,91,77,92,53,12,...,20,17800000,10200000,CB_MantoMan,Short Stride Loose,8,70,190,1988-10-29,N. Alabama

In [5]:
GenerateAxisRoster(team).new_axis_roster_df.head() # New Axis Roster

,INDEX,FIRST,LAST,SKIN,NUMBER,HEIGHT,WEIGHT,POS,SPEED,TLK BRK,...,HIT PWR,ENDUR,VISOR,SLEEVES,BANDS,WRAPS,AGE,POTENTIAL,PORTRAIT,DISCIPLINE
0,0,Drew,Brees,1,9,71,209,QB,67,34,...,12,77,0,0,0,1,41,96,332,82
1,1,Alvin,Kamara,1,41,70,215,RB,89,90,...,33,91,1,0,1,0,25,99,329,99
2,2,Latavius,Murray,5,28,75,230,RB,89,84,...,45,86,0,0,0,1,29,94,240,99
3,3,Michael,Thomas,5,13,75,212,WR,89,82,...,15,99,1,0,0,0,27,74,93,56
4,4,Emmanuel,Sanders,1,17,71,180,WR,88,84,...,12,87,1,1,1,1,33,80,314,58

Call GenerateAxisRoster all $32$ teams and update the 'Team Mods' folder in the Axis Football 2020 local file directory.